{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }} #}


<!-- component -->


<div>
	{% if app.session.flashbag.has('error') %}
	    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
	        <strong class="font-bold">Erreur ! </strong>
	        <span class="block sm:inline">{{ app.session.flashbag.get('error')|first }}</span>
	        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
			</span>
	    </div>
	{% endif %}
  <div class="md:grid md:grid-cols-3 md:gap-6 ml-10 mt-5">
    <div class="mt-5 md:mt-0 md:col-span-2 mr-20 shadow-2xl">
    <div class="md:col-span-1 mr-5">
      <div class="px-4  mr-5 ml-5">
        <p class="mt-1 text-sm text-red-600">Ces informations seront affiché publiquement. Faites attentions aux contenu que vous souhaitez publier.</p>
      </div>
    </div>
      <form method="POST">
        {{ form_start(form) }} 
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              <div>
                <label class="block text-sm font-medium text-gray-700"> Photo de profile</label>
                <div class="mt-1 flex items-center">
                  <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                  {% if user.image != null %}
                      <img src="{{ vich_uploader_asset(user, 'image') }}" alt="Photo de profile" class="h-full w-full">
                  {% else %}
                      <img src="{{ asset('/images/profil/playerz.png') }}" alt="Default" class="h-full w-full">
                  {% endif %}
                
                  </span>
                  <div class="ml-5 mr-5">
                    {{ form_widget(form.image) }}
                  </div>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">Nom d'utilisateur</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.username)}} 
                  </div>
                </div>

              <div>
                <label for="about" class="block text-sm font-medium text-gray-700"> Description </label>
                <div class="mt-1">
                  {{form_widget(form.description)}}
                </div>
                <p class="mt-2 text-sm text-gray-500 italic">Description briève sur vous</p>
              </div>
          </div>
          <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">

                <div class="col-span-6 sm:col-span-3 lg:col-span-1">
                  <label for="gender" class="block text-sm font-medium text-gray-700">Genre</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.gender)}} 
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">Prénom</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.firstname)}} 
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="last-name" class="block text-sm font-medium text-gray-700">Nom</label>
                {{form_widget(form.lastname)}} 
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-1">
                  <label for="gender" class="block text-sm font-medium text-gray-700">Age</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.age)}} 
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-4 lg:col-span-3">
                  <label for="email-address" class="block text-sm font-medium text-gray-700">Email</label>
                  {{form_widget(form.email)}}
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="country" class="block text-sm font-medium text-gray-700">Pays</label>
                    {{form_widget(form.country)}}
                </div>


                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label for="city" class="block text-sm font-medium text-gray-700">Rôle</label>
                  {{form_widget(form.roles)}}
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-3">
                  <label for="city" class="block text-sm font-medium text-gray-700">Twitter</label>
                  {{form_widget(form.twitterUsername)}}
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="region" class="block text-sm font-medium text-gray-700">Twitch
                  
                  </label>
                  {{form_widget(form.twitchUsername)}}
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="postal-code" class="block text-sm font-medium text-gray-700">Reddit</label>
                  {{form_widget(form.redditUsername)}}
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="postal-code" class="block text-sm font-medium text-gray-700">Youtube</label>
                  {{form_widget(form.youtubeUsername)}}
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="postal-code" class="block text-sm font-medium text-gray-700">Discord</label>
                  {{form_widget(form.discordServerToken)}}
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">{{ button_label|default('Sauvegarder') }}</button>
              <a href="{{ path('user_index') }}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Retour</a>
            </div>
          </div>
        {{ form_end(form) }} 
      </form>
    </div>
  </div>
</div>

{# 
<div class="mt-10 sm:mt-0">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
        <p class="mt-1 text-sm text-gray-600">Use a permanent address where you can receive mail.</p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="#" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-4">
                <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                <input type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                <select id="country" name="country" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Mexico</option>
                </select>
              </div>

              <div class="col-span-6">
                <label for="street-address" class="block text-sm font-medium text-gray-700">Street address</label>
                <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                <input type="text" name="region" id="region" autocomplete="address-level1" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
                <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> #}


