{% extends 'baseTemplate/admin-base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block content %}
    {# <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                       href="{{ path('user_profile_show', {'slug': user.slug}) }}">Afficher</a>
                    <a class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                       href="{{ path('user_edit', {'slug': user.slug}) }}">Modifier</a>
                    {% if user.getDateSubscribe() %}
                        <a class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                           href="{{ path('delete_subscribe', {'id': user.id}) }}">
                            Supprimer l'abonnement
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun utilisateurs trouvés !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('user_new') }}">Créer un utilisateur</a> #}
	<h1 class="text-5xl font-normal leading-normal text-center mt-20 mb-2 text-indigo-500">Utilisateurs</h1>

	{% if app.session.flashbag.has('success') %}
		<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
			<strong class="font-bold">Succes !</strong>
			<span class="block sm:inline">{{ app.session.flashbag.get('success')|first }}</span>
			<span class="absolute top-0 bottom-0 right-0 px-4 py-3">
			</span>
		</div>
	{% endif %}
	{% if app.session.flashbag.has('error') %}
	    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
	        <strong class="font-bold">Erreur ! </strong>
	        <span class="block sm:inline">{{ app.session.flashbag.get('error')|first }}</span>
	        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
			</span>
	    </div>
	{% endif %}
	
	<button type="button" data-modal-toggle="add-user" class="mx-10 my-10 text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
		<a href="{{ path('user_new') }}">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-full" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
			</svg>
            <span class="ml-2">Utilisateur</span>
		</a>
	</button>

	<table class="table-fixed min-w-full divide-y divide-gray-200">
		<thead class="bg-gray-100 w-full">
			<tr>
				<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercas">
					Nom d'utilisateur
				</th>
				<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
					Rôles
				</th>
				<th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
					Pays
				</th>

				<th scope="col" class="p-4 text-center text-xs font-medium text-gray-500 uppercase">
					Actions</th>
			</tr>
		</thead>
		<tbody class="bg-white divide-y divide-gray-200">
			{% for user in users %}
				<tr class="hover:bg-gray-100">
					{% if user %}
						<td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
							{% if user.image == null %}
								<img class="h-10 w-10 rounded-full" src="{{ asset('/images/profil/playerz.png') }}" width="64" height="auto" alt="{{ user.image }}" alt="user image">
							{% else %}
								<img class="h-10 w-10 rounded-full" src=" {{ vich_uploader_asset(user, 'image') }}" width="70" height="100" alt="user image">
							{% endif %}
							<div class="text-sm font-normal text-gray-500">
								<div class="text-base font-semibold text-gray-900">
									<a href="{{ path('user_profile_show', {'slug': user.slug}) }}">{{user.username}}</a>
								</div>
								<div class="text-sm font-normal text-gray-500">{{user.email}}</div>
							</div>
						</td>
						<td>
							{% for role in user.roles %}
								{{ role }}
							{% endfor %}
						</td>
						<td>
							{% if user.country != null %}
								{{ user.country }}
							{% else %}
								<span class="text-red-500">Aucun pays</span>
							{% endif %}

						</td>
						<td class="p-4 whitespace-nowrap space-x-2 my-5">
							<button type="button" data-modal-toggle="user-modal" class="text-dark bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
								<a href="{{ path('user_edit', {'slug': user.slug}) }}">
									<svg class="mr-2 h-5 w-full" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
										<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
									</svg>

									Modifier
								</a>
							</button>
							<button type="button" data-modal-toggle="user-modal" class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
								<a href="{{ path('user_show', {'slug': user.slug}) }}">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-full" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
										<path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
									</svg>

									Afficher
								</a>
							</button>
							{{ include('admin/user/_delete_form.html.twig') }}
						</td>
					{% else %}
						<tr>
							<td colspan="7">
								Aucun utilisateurs trouvés !
							</td>
						</tr>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</tr>
</tbody></tr></tbody></table>{% endblock %}
