{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Equipes' %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Equipes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Membres</th>
                <th>Description</th>
                <th>Visibilité équipe</th>
                <th>Equipe esport officielle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.logo }}</td>
                <td>{{ team.name }}</td>
                <td>
                        {% for user in team.users %}
                            {{ user.username }},
                        {% endfor %}
                </td>
                <td>{{ team.description }}</td>
                <td>{{ team.public ? 'Publique' : 'Privée' }}</td>
                <td>{{ team.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('team_show', {'slug': team.slug}) }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">show</a>
                    <a href="{{ path('team_edit', {'slug': team.slug}) }}" class="text-yellow-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune équipe encore créer !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Creer une équipe</a>
{% endblock %}
