{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Equipes' %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Equipes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Equipe</th>
                <th>Créateur</th>
                <th>Membres</th>
                <th>Pays</th>
                <th>Jeu</th>
                <th>Visibilité équipe</th>
                <th>Equipe esport officielle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>
                    <a href="{{ path('team_show', {'slug': team.slug}) }}">
                        {% if team.path %}
                            <img src="{{ vich_uploader_asset(team, 'logo') }}" width="64" height="auto" alt="Logo de l'équipe {{ team.name }}">
                        {% endif %}
                        <span>{{ team.name }}</span>
                    </a>
                </td>
                <td><a href="{{ path('user_profile_show', {'slug': team.createdBy.slug}) }}">{{ team.createdBy.username }}</a></td>
                <td>
                        {% for user in team.users %}
                            <a href="{{ path('user_profile_show', {'slug': user.slug}) }}">{{ user.username }}</a>
                        {% endfor %}
                </td>
                <td>{{ team.location|country_name }}</td>
                <td>
                {% if team.game is defined and not null %}
                    {% if team.game.path %}
                        <img src="{{ vich_uploader_asset(team.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ team.game.name }}">
                    {% else %}
                        {{ team.game.name }}
                    {% endif %}
                {% endif %}
                </td>
                <td>{{ team.public ? 'Publique' : 'Privée' }}</td>
                <td>{{ team.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('team_show', {'slug': team.slug}) }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">show</a>
                    {% if is_granted('edit', team) %}
                        <a href="{{ path('team_edit', {'slug': team.slug}) }}" class="text-yellow-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune équipe encore créer !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user and app.user.team is null or not app.user %}
        <a href="{{ path('team_new') }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Creer une équipe</a>
    {% endif %}

{% endblock %}
