{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Utilisateurs' %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Utilisateurs</h1>

    <table class="table-auto">
        <thead>
            <tr>
                <th>Username</th>
                <th>Equipe</th>
                <th>Jeu</th>
                <th>Ratio</th>
                <th>Elo</th>
                <th>Pays</th>
                <th>Age</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_profile_show', {'slug': user.slug}) }}">{{ user.username }}</a></td>
                {% if user.team %}
                    <td>{{ user.team.name }}</td>
                {% else %}
                    <td>Sans équipe</td>
                {% endif %}
                {% if user.team is defined and not null and user.team.game is defined and not null  %}
                    <td>
                        {% if user.team.game.path %}
                            <img src="{{ vich_uploader_asset(user.team.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ user.team.game.name }}">
                        {% else %}
                            {{ user.team.game.name }}
                        {% endif %}
                    </td>
                {% else %}
                    <td>Aucun jeu</td>
                {% endif %}
                <td>
                    {% if user.nbParticipation > 0 %}
                        <td>{{ (user.nbWin / user.nbParticipation)*100 }}% Victoire</td>
                    {% else %}
                     <td>aucune statistique disponible</td>
                    {% endif %}
                </td>
                <td>
                    A venir ...
                </td>
                <td>{{ user.country|country_name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.gender }}</td>
                <td>
                    <a href="{{ path('user_profile_show', {'slug': user.slug}) }}" class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun joueur sur PlayZ !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
