{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Profil ' ~ user.username %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">{{ user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                {% if user.path %}
                    <th>Image de profil</th>
                    <td><img src="{{ vich_uploader_asset(user, 'image') }}" width="180" height="auto" alt="Image de profil de {{ user.username }}"></td>
                {% else %}
                    <th>Image de profil</th>
                    <td>Pas d'image de profil</td>
                {% endif %}
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
                {% if user.team %}
                    <tr>
                        <th>Equipe</th>
                        <td>
                            <a href="{{ path('team_show', {'slug': user.team.slug}) }}">
                                {% if user.team.path %}
                                    <img src="{{ vich_uploader_asset(user.team, 'logo') }}" width="64" height="auto" alt="Logo de l'équipe {{ user.team.name }}">
                                {% endif %}
                                {{ user.team.name }}
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <th>Rôle dans l'équipe</th>
                        <td>
                            {% for role in user.roles %}
                                {% if role == 'ROLE_TEAM_CREATOR' or role == 'ROLE_TEAM_MEMBER' %}
                                    {{ role|formatRole(role) }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <th>Membres de l'équipe</th>
                        <td>
                            {% for member in user.team.users %}
                                <a href="{{ path('user_profile_show', {'slug': member.slug}) }}">{{ member.username }} </a>
                            {% endfor %}
                        </td>
                    </tr>

                        {% if user.team.game is defined and not null %}
                            <tr>
                                <th>Jeu</th>
                                <td>
                                    {% if user.team.game.path %}
                                        <img src="{{ vich_uploader_asset(user.team.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ user.team.game.name }}">
                                    {% else %}
                                        {{ user.team.game.name }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                {% endif %}

            {% if user.games is defined and not null %}
                <tr>
                    <th>Jeux</th>
                    <td>
                    {% for game in user.games %}
                        {% if game.path %}
                            <img src="{{ vich_uploader_asset(game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ game.name }}">
                        {% else %}
                            {{ game.name }}
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ user.country }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('edit', user) %}
        <a class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('user_profile_edit', {'slug': user.slug}) }}">Modifier</a>
    {% endif %}

    {% if is_granted('ROLE_USER') and app.user != user %}
        {{ include('settings/user_relation/_friend.form.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_USER') and app.user != user %}
        {{ include('settings/user_relation/_block_form.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_TEAM_CREATOR') or is_granted('ROLE_TEAM_MANAGER') %}
        {% if app.user.team.public == false and user.team is null %}
            {{ include('settings/user_relation/_team.form.html.twig') }}
        {% endif %}
    {% endif %}


{% endblock %}
