{% extends 'baseTemplate/base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-8">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <div class="md:flex md:flex-row md:min-h-screen col-span-1">
            <div @click.away="open = false" class="flex flex-col w-full dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0" x-data="{ open: false }">
                <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto bg-purple-900 text-white">
                    <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between ">
                        <a href="{{ path('home') }}" class="text-lg font-semibold tracking-widest  uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">PlayZ</a>
                    </div>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold  rounded-lg dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover: focus: hover:text-blue-400" href="{{ path('admin_game_index') }}">Jeux</a>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold  bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-blue-400" href="{{ path('gametype_dashboard') }}">Modes de Jeux</a>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold  bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-blue-400" href="{{ path('tournament_dashboard') }}">Tournois</a>
                    <a class="block px-4 py-2 mt-2 text-sm font-semibold  bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-blue-400" href="{{ path('user_index') }}">Utilisateurs</a>

                </nav>
                <div class="bg-purple-900">
                    <a class="block text-white px-8 py-2 mt-2 text-sm font-semibold  bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-blue-400" href="{{ path('user_account') }}">Paramètres</a>

                </div>
            </div>
        </div>
        <div class="col-start-2 col-end-9">
            {% block content %}{% endblock %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}