{# {{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }} #}

<h1 class="text-5xl text-center font-normal leading-normal mt-5 mr-5 text-indigo-500 ">Nouveau Tournoi</h1>

<div>
	{% if app.session.flashbag.has('error') %}
	    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
	        <strong class="font-bold">Erreur ! </strong>
	        <span class="block sm:inline">{{ app.session.flashbag.get('error')|first }}</span>
	        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
			</span>
	    </div>
	{% endif %}
  <div class="md:grid md:grid-cols-3 md:gap-6 mt-5">
  <script src="../path/to/flowbite/dist/datepicker.js"></script>
    <div class="mt-5 md:mt-0 md:col-span-2 mr-20 shadow-2xl w-1/2">
      <div class="md:col-span-1 mr-5">
        <div class="px-4  mr-5 ml-5">
          <p class="mt-1 text-sm text-red-600">Renseignez les bonnes informations concernant le tournoi avant de valider</p>
        </div>
      </div>
        {{ form_start(form) }}
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              <div>
                <label class="block text-sm font-medium text-gray-700"> Logo</label>
                <div class="mt-1 flex items-center">
                  <div class="ml-5 mr-5">
                    {{ form_widget(form.logo) }}
                  </div>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">Nom</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.name)}}
                  </div>
                </div>

              <div>
                <label for="about" class="block text-sm font-medium text-gray-700"> Description </label>
                <div class="mt-1">
                  {{form_widget(form.description)}}
                </div>
                <p class="mt-2 text-sm text-gray-500 italic">Description briève sur le tournoi</p>
              </div>
          </div>
          <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="flex items-center mb-4">
                  {{ form_widget(form.PouleType)}}
                  <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Créer un tournoi par poule</label>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="gender" class="block text-sm font-medium text-gray-700">Nombre d'équipes dans le tournoi</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.max_team_participant)}}
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">Nombre de joueurs par équipes</label>
                  <div class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    {{form_widget(form.max_team_players)}}
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                  <label for="last-name" class="block text-sm font-medium text-gray-700">Jeu du tournoi</label>
                {{form_widget(form.game)}}
                </div>

                <div class="col-span-6 sm:col-span-4 lg:col-span-3">
                  <label for="email-address" class="block text-sm font-medium text-gray-700">Début du tournoi</label>
                  {{form_widget(form.startAt)}}
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="country" class="block text-sm font-medium text-gray-700">Début d'inscription au tournoi</label>
                    {{form_widget(form.startInscriptionAt)}}
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">{{ button_label|default('Sauvegarder') }}</button>
              <a href="{{ path('tournament_dashboard') }}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Retour</a>
            </div>
          </div>
        {{ form_end(form) }}
    </div>
    </div>
  </div>
</div>
</div>
</div>