{% extends 'baseTemplate/tournament-base.html.twig' %}

{% block title %}Edit Tournoi{% endblock %}

{% block content %}
    <style>
        .buttonDisabled {
            opacity: 25%
        }
    </style>
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Edition de {{ tournament.name }}</h1>
    {% if tournament.status == false %}
        {{ include('tournament/_form.html.twig') }}
    {% else %}
        {% if poules is not null %}
            {% for poule in poules %}
                <div>
                    <h2>{{ poule.name }}</h2>
                    <table>
                        <tr>
                            <td>Equipe</td>
                            <td>Score</td>
                        </tr>
                        {% for equipe in poule.getPouleEquipes() %}
                            <tr>
                                <td>{{ equipe.getTournamentTeam().getTeam().name }}</td>

                                {% if equipe.getNombreVictoire() %}
                                    <td>{{ equipe.getNombreVictoire() }}</td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    <table class="table">
                        <tr>
                            <td>Matches de la {{ poule.name }}</td>
                        </tr>
                        <tr>
                            <td>Première équipe</td>
                            <td>VS</td>
                            <td>Seconde équipe</td>
                            <td>Etat</td>
                            <td>Action</td>
                        </tr>
                        {% for match in poule.getPouleMatches() %}
                            <tr>
                                <td>{{ match.getEquipeUne().getTournamentTeam().getTeam().name }}</td>
                                <td><h2>CONTRE . </h2></td>
                                <td>{{ match.getEquipeDeux().getTournamentTeam().getTeam().name }}</td>
                                <td>
                                    {% if match.status %}
                                        Vainqueur :
                                        {% if match.getFirstTeamWin() %}
                                            {{ match.getEquipeUne().getTournamentTeam().getTeam().name }}
                                        {% elseif not match.getFirstTeamWin() %}
                                            {{ match.getEquipeDeux().getTournamentTeam().getTeam().name }}
                                        {% endif %}
                                    {% else %}
                                        Pas encore joué !
                                    {% endif %}
                                </td>
                                {% if match.status  == true %}
                                    <td></td>
                                {% else %}
                                    <td>
                                        <a href="{{ path('poules_set_victory',{id : match.id , t_slug : tournament.slug}) }}">
                                            Déclarer un vainqueur
                                        </a>
                                    </td>
                                {% endif %}
                                <td>{{ match.getEquipeUne().getTournamentTeam().getTeam().name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
            {% if finaleDisable %}
                <a
                    class="px-4 py-2 text-white bg-blue-300 rounded">
                    Veuillez finir les matchs
                </a>
            {% else %}
                <a
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
                    Lancer les phases finales
                </a>
            {% endif %}

        {% elseif matches is not null %}
            <table>
                <tr>
                    <td>Equipe1</td>
                    <td>contre</td>
                    <td>Equipe2</td>
                    <td>status</td>
                    <td>action</td>
                </tr>
                {% for match in matches %}
                    <tr>
                        <td>{{ match.getTeamOne().getTeam().name }}</td>
                        <td><h2>CONTRE . </h2></td>
                        <td>{{ match.getTeamTwo().getTeam().name }}</td>
                        <td>
                            {{ match.status ?
                            match.getTeamOneWin() ?
                            'Vainqueur équipe1'   :
                            'Vainqueur équipe2'
                            : 'en cours!' }}
                        </td>
                        {% if match.status == true %}
                            <td></td>
                        {% else %}
                            <td>
                                <a href="{{ path('tournament_set_victory',{id : match.id , t_slug : tournament.slug}) }}">Déclarer
                                    un vainqueur</a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    <a href="{{ path('tournament_dashboard') }}"
       class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Retour</a>
{% endblock %}