{% extends 'baseTemplate/admin-base.html.twig' %}

{% set page_title = 'Tournois' %}

{% block title %}Mes tournois
{% endblock %}

{% block content %}
	{# <div class="relative overflow-x-auto shadow-md sm:rounded-lg pb-60">
			<h1 class="text-5xl font-normal text-center leading-normal mt-0 mb-2 text-indigo-500">Mes tournois</h1>
	
			<table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th>Logo</th>
						<th>Name</th>
						<th>Game</th>
						<th>Image</th>
						<th>Nom</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for tournament in tournaments %}
						<tr>
							{% if tournament.path %}
								<td><img src="{{ vich_uploader_asset(tournament, 'logo') }}" width="64" height="auto" alt="Logo de {{ tournament.name }}"></td>
							{% else %}
								<td>Pas de logo</td>
							{% endif %}
							<td>{{ tournament.name }}</td>
							<td>
								{% if tournament.game.path %}
									<img src="{{ vich_uploader_asset(tournament.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ tournament.game.name }}">
								{% else %}
									{{ tournament.game.name }}
								{% endif %}
							</td>
							<td>
	
								<a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('play_tournament', {'slug': tournament.slug}) }}">Afficher</a>
								{% if tournament.status == false %}
									{% if tournament.status is not null %}
										Le tournoi est terminé.
									{% endif %}
								{% endif %}
								{%  if tournament.status is null %}
									<a href="{{ path('tournament_cancel',{'slug': tournament.slug}) }}" style="display: block; padding: 2px 5px ; border-radius: 20px ; background-color: red; color: whitesmoke ; text-align: center;">ANNULER</a>
									<a href="{{ path('tournament_start',{'slug': tournament.slug}) }}" style="display: block; padding: 2px 5px ; border-radius: 20px ; background-color: green; color: whitesmoke ; text-align: center;">LANCER</a>
								{% endif %}
								{% if tournament.status is null or tournament.status == true %}
									<a href="{{ path('tournament_edit', {'slug': tournament.slug}) }}">Modifier</a>
								{% else %}
									<tr>
										<th colspan="8">Vous n'avez créer aucun tournoi</th>
									</tr>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</tbody>
			</table>
	
	
		</div>
	
	<a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('tournament_new') }}">Créer un tournoi</a> #}
    {% if app.session.flashbag.has('success') %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Succes !</strong>
            <span class="block sm:inline">{{ app.session.flashbag.get('success')|first }}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
			</span>
        </div>
    {% endif %}
    {% if app.session.flashbag.has('error') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Erreur ! </strong>
            <span class="block sm:inline">{{ app.session.flashbag.get('error')|first }}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
			</span>
        </div>
    {% endif %}

<h1 class="text-5xl font-normal leading-normal text-center mt-20 mb-2 text-indigo-500">Mes tournois</h1>

<div class="text-center">
    <button type="button" data-modal-toggle="add-user"
            class="mx-10 my-10 text-white bg-indigo-600 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
        <a href="{{ path('tournament_new') }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-full" fill="none" viewbox="0 0 24 24"
                 stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
            </svg>
            <span class="ml-2">Créer un tournoi</span>
        </a>
    </button>
</div>

{% if tournaments %}
    <table class="table-fixed min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100 w-full">
        <tr>
            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                Nom
            </th>
            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercas">
                Logo
            </th>
            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                Jeu
            </th>
            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                Image
            </th>
            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                Description
            </th>
            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                Actions
            </th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        {% for tournament in tournaments %}
        <tr class="hover:bg-gray-100">
            <td class="p-2 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                {{ tournament.name }}
            </td>
            <td class="p-2 whitespace-nowrap space-x-6 mr-12 lg:mr-0 items-center">
                {% if tournament.game.path %}
                    <img src="{{ vich_uploader_asset(tournament.game, 'logo') }}" width="70" height="100"
                         alt="Logo du jeux {{ tournament.game.name }}">
                {% else %}
                    Aucune image
                {% endif %}
            </td>
            <td class="p-2 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                {{ tournament.game.name }}
            </td>
            {% if tournament.path %}
                <td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                    <img
                            class="h-10 w-10 rounded-full"
                            src="{{ vich_uploader_asset(tournament,'logo') }}"
                            width="70"
                            height="100"
                            alt="tournament image"
                    />
                </td>
            {% else %}
                <td scope="col" class="p-4 text-left text-xs font-medium text-red-500 uppercase">
                    Pas de logo
                </td>
            {% endif %}
            <td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                {{ tournament.description }}
            </td>
            <td class="p-4 whitespace-nowrap space-x-2">
                <button type="button" data-modal-toggle="user-modal"
                        class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                    <a href="{{ path('play_tournament', {'slug': tournament.slug}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-full" fill="none" viewbox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                        </svg>
                        Afficher
                    </a>
                </button>
                {% if tournament.status == false and tournament.status is not null %}
                    Le tournoi est terminé.
                {% endif %}
                {% if tournament.status is null %}
                    <button type="button" data-modal-toggle="user-modal"
                            class="text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                        <a href="{{ path('tournament_start',{'slug': tournament.slug}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-5 w-full" viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
                                      clip-rule="evenodd"/>
                            </svg>
                            Lancer
                        </a>
                    </button>
                    <button type="button" data-modal-toggle="user-modal"
                            class="text-dark bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                        <a href="{{ path('tournament_cancel',{'slug': tournament.slug}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 w-full" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            Annuler
                        </a>
                    </button>
                {% endif %}
                {% if tournament.status is null or tournament.status == true %}
                    <button type="button" data-modal-toggle="user-modal"
                            class="text-dark bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                        <a href="{{ path('tournament_edit', {'slug': tournament.slug}) }}">
                            <svg class="mr-2 h-6 w-full" fill="currentColor" viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                <path fill-rule="evenodd"
                                      d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Modifier
                        </a>
                    </button>
                {% else %}
                {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center text-gray-700 text-2xl">Vous n'avez créer aucun tournoi</p>
{% endif %}
{% endblock %}
