{% extends 'baseTemplate/admin-base.html.twig' %}

{% set page_title = 'Tournois' %}

{% block title %}Mes tournois{% endblock %}

{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg pb-60">
    <h1 class= "text-5xl font-normal text-center leading-normal mt-0 mb-2 text-indigo-500">Mes tournois</h1>
    
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Game</th>
            <th>Image</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                {% if tournament.path %}
                    <td><img src="{{ vich_uploader_asset(tournament, 'logo') }}" width="64" height="auto" alt="Logo de {{ tournament.name }}"></td>
                {% else %}
                    <td>Pas de logo</td>
                {% endif %}
                <td>{{ tournament.name }}</td>
                <td>
                    {% if tournament.game.path %}
                        <img src="{{ vich_uploader_asset(tournament.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ tournament.game.name }}">
                    {% else %}
                        {{ tournament.game.name }}
                    {% endif %}
                </td>
                <td>

                    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('play_tournament', {'slug': tournament.slug}) }}">Afficher</a>
                    {% if tournament.status == false %}
                        {% if tournament.status is not null %}
                            Le tournoi est terminé.
                        {% endif %}
                    {% endif %}
                    {%  if tournament.status is null %}
                        <a href="{{ path('tournament_cancel',{'slug': tournament.slug}) }}" style="display: block; padding: 2px 5px ; border-radius: 20px ; background-color: red; color: whitesmoke ; text-align: center;">ANNULER</a>
                        <a href="{{ path('tournament_start',{'slug': tournament.slug}) }}" style="display: block; padding: 2px 5px ; border-radius: 20px ; background-color: green; color: whitesmoke ; text-align: center;" >LANCER</a>
                    {% endif %}
                    {% if tournament.status is null or tournament.status == true %}
                        <a href="{{ path('tournament_edit', {'slug': tournament.slug}) }}">Modifier</a>
            {% else %}
                <tr>
                    <th colspan="8">Vous n'avez créer aucun tournoi</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>
<a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('tournament_new') }}">Créer un tournoi</a>
{% endblock %}
