<style>
	.divider {
		border-left: 2px ghostwhite solid;
	}
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown button {
		display: flex;
		align-items: center;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 500px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		z-index: 1;
	}


	.dropdown-content a {
		text-decoration: none;
		display: block;
	}

	.dropdown:hover .dropdown-content {
		display: flex;
		align-items: center;
	}
	.dropdown-content > div {
		width: 100%;
	}
	.dropdown-content > div > p {
		text-align: center;

	}
</style>
<div class="sticky top-0 z-50 min-h-full">
	<nav class="bg-gray-900">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex items-center justify-between h-16">
				<div class="flex items-center">
					<div class="flex-shrink-0">
						<a href="/" class="text-white"><img src="{{ asset('images/logo/PlayZ-NoLogo.png' )}}" width="100px" height="100px"></img>
					</a>
				</div>
				<div class="hidden md:block">
					<div class="ml-10 flex items-baseline space-x-4">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<div class=" dropdown m-auto">
							<button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Parcourir<svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
								</svg>
							</button>
						</button>
						<div class="dropdown-content bg-gray-800 rounded-xl">
							<div>
								<p class="text-gray-300 hover:text-white px-3 py-2 text-left text-sm font-medium">Fonctionnalités</p>
								<ul>
									<li><a href="{{path('tournament_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Nos tournois</a></li>
									<li><a href="{{path('game_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Jeux</a></li>
									{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM_MANAGER') %}
										<li><a href="{{path('tournament_dashboard')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Organiser</a></li>
									{% endif %}

								</ul>
							</div>
							<div class="divider">
								<p class="text-gray-300 hover:text-white px-3 py-2 text-sm font-medium">Playerz</p>
								<ul>
									<li><a href="{{path('team_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Les équipes</a></li>
									<li><a href="{{path('user_profile_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Les joueurs</a></li>
									<li><a href="{{path('announcement_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Les annonces</a></li>
								</ul>
							</div>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<div class="divider">

									<p class="text-gray-300 hover:text-white px-3 py-2 text-sm font-medium">Activitées</p>

									<ul>
										<li><a href="{{path('tournament_index')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Mes tournois</a></li>
										{% if is_granted('ROLE_SUBSCRIBE') %}
										<li><a href="{{path('payment')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Abonnement</a></li>
										{% endif %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
					
					{# <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tarifs</a> #}
					<a href="{{ path('contact_index') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact</a>
				</div>
			</div>
		</div>
		<div class="hidden md:block">
			<div
				class="ml-4 flex items-center md:ml-6">
				{# <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
								                    <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"> Sign in </a>
								                    <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> Sign up </a>
								                </div> #}
				<div class="mb-1">
					{% if app.user.team is defined and app.user.team is not null %}
						<a href="{{ path('team_show', {'slug': app.user.team.slug}) }}" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-5">Mon équipe</a>
					{% endif %}
				</div>
				<div class="ml-10 flex items-baseline space-x-4">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<!-- component -->
						<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>

						<div x-data="{ open: false }" class="bg-transparent dark:bg-gray-800 w-64 shadow flex justify-center items-center">
							<div @click="open = !open" class="relative border-b-4 border-transparent py-3" :class="{'border-indigo-700 transform transition duration-300 ': open}" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100">
								<div class="flex justify-center items-center space-x-3 cursor-pointer">
									{% if app.user.image != null %}
									
										<div class="w-12 h-12 rounded-full overflow-hidden border-2 dark:border-white border-gray-900">
											<img src="https://images.unsplash.com/photo-1610397095767-84a5b4736cbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" class="w-full h-full object-cover">
										</div>
									{% elseif is_granted('ROLE_ADMIN') %}
										<div class="w-12 h-12 rounded-full overflow-hidden border-2 dark:border-white border-gray-900">
											<img src="/images/profil/admin.png" alt="" class="w-full h-full object-cover">
										</div>
									{% else %}
										<div class="w-12 h-12 rounded-full overflow-hidden border-2 dark:border-white border-gray-900">
											<img src="/images/profil/playerz.png" alt="" class="w-full h-full object-cover">
										</div>
									{% endif %}
									{# <div class="font-semibold dark:text-white text-gray-900 text-lg">
																				<div class="cursor-pointer">Hasan Muhammad</div>
																			</div> #}
								</div>
								<div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute w-60 px-5 py-3 dark:bg-gray-800 bg-gray-800 rounded-lg shadow border dark:border-transparent mt-5">
									<ul class="space-y-3 dark:text-white">
										<li class="font-medium">
											<a href="{{ path('user_profile_show', {'slug': app.user.slug} ) }}" class="text-white flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
												<div class="mr-3">
													<svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
													</svg>
												</div>
												Profil
											</a>
										</li>
										<li class="font-medium">
											<a href="{{ path('user_account') }}" class=" text-white flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
												<div class="mr-3">
													<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
														<path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
														<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
													</svg>
												</div>
												Paramètres
											</a>
										</li>
										{% if is_granted('ROLE_ADMIN') %}
										<li class="font-medium">
											<a href="{{ path('admin_dashboard' ) }}" class=" text-white flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-indigo-700">
												<div class="mr-3">
													<svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
													</svg>
												</div>
												Admin
											</a>
										</li>
										{% endif %}
										<hr class="dark:border-gray-700">
										<li class="font-medium">
											<a href="{{ path('app_logout') }}" class="text-red-500 flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-red-600">
												<div class="mr-3 text-red-600">
													<svg class="w-6 h-6" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
													</svg>
												</div>
												Déconnexion
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						{# <a href="{{ path('user_profile_show', {'slug': app.user.slug} ) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Profil</a> #}
						{# {% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('admin_dashboard' ) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Admin</a>
						{% endif %} #}
						{# <a href="{{ path('user_account') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Paramètres</a> #}
						{# {% if app.user.team is defined and app.user.team is not null %}
							<a href="{{ path('team_show', {'slug': app.user.team.slug}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Mon équipe</a>
						{% endif %} #}
						{# <a href="{{ path('app_logout') }}" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Se deconnecter</a> #}
					{% else %}
						<a href="{{ path('app_register') }}" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">S'inscrire</a>
						<a href="{{ path('app_login') }}" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">Se connecter</a>
					{% endif %}
				</div>

			</div>
		</div>
		<div
			class="-mr-2 flex md:hidden">
			<!-- Mobile menu button -->
			<button type="button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<!--
								                        Heroicon name: outline/menu
								
								                        Menu open: "hidden", Menu closed: "block"
								                        -->
				<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
				</svg>
				<!--
								                        Heroicon name: outline/x
								
								                        Menu open: "block", Menu closed: "hidden"
								                        -->
				<svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
				</svg>
			</button>
		</div>
	</div>
</div></nav>{# <header class="bg-white shadow">
		        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
		        <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
		        </div>
		    </header> #}</div></nav>
