{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Jouer' %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Tournois</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Logo</th>
            <th>Jeu</th>
            <th>Nom</th>
            <th>Nombre d'équipes</th>
            <th>Nombre de joueurs par équipe</th>
            <th>Ouverture des inscriptions</th>
            <th>Lancement du tournoi</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}

            <tr>
                {% if tournament.path %}
                    <td><img src="{{ vich_uploader_asset(tournament, 'logo') }}" width="64" height="auto" alt="Logo de {{ tournament.name }}"></td>
                {% else %}
                    <td>Pas de logo</td>
                {% endif %}
                <td>
                    {% if tournament.game.path %}
                        <img src="{{ vich_uploader_asset(tournament.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ tournament.game.name }}">
                    {% else %}
                        {{ tournament.game.name }}
                    {% endif %}
                </td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.maxTeamParticipant }}</td>
                <td>{{ tournament.maxTeamPlayers }}</td>
                <td>{{ tournament.startInscriptionAt | date('d F Y  \\à g:ia') }}</td>
                <td>{{ tournament.startAt | date('d F Y  \\à g:ia') }}</td>
                <td>
                    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('play_tournament', {slug : tournament.slug  }) }}">Plus de détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun tournoi encore créer !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
