{% extends 'baseTemplate/play-base.html.twig' %}

{% set page_title = 'Tournois' %}

{% block title %}Inscription tournoi!{% endblock %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">{{ tournament.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            {% if tournament.path %}
                <th>Logo</th>
                <td><img src="{{ vich_uploader_asset(tournament, 'logo') }}" width="64" height="auto" alt="Logo de l'équipe {{ tournament.name }}"></td>
            {% else %}
                <th>Logo</th>
                <td>Pas de logo</td>
            {% endif %}
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ tournament.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ tournament.description }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ tournament.startAt | date('d F Y  \\à g:ia') }}</td>
        </tr>
        <tr>
            <th>Jeux</th>
            <td>
                {% if tournament.game.path %}
                    <img src="{{ vich_uploader_asset(tournament.game, 'logo') }}" width="64" height="auto" alt="Logo du jeux {{ tournament.game.name }}">
                {% else %}
                    {{ tournament.game.name }}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {% if inscription %}
        {%  if is_granted('ROLE_TEAM_CREATOR') or is_granted('ROLE_TOURNAMENT_ARBITER') %}
            <a class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('play_inscription_tournament', {slug : tournament.slug , user_slug : app.user.slug}) }}">Inscription</a>
        {% else %}
            <p>Vous ne pouvez pas vous inscrire, demandez à votre chef d'équipe!</p>
            <p>Il est encore temps !</p>
        {% endif %}
    {% else %}
        <p>Les inscriptions sont maintenant fermés</p>
    {% endif %}

    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('tournament_index') }}">Retour</a>
{% endblock %}
