{% extends 'baseTemplate/admin-base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block content %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">Jeux</h1>

    <table>
        <thead>
        <tr>
            <th>Logo</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                {% if game.path %}
                    <td><img src="{{ vich_uploader_asset(game, 'logo') }}" width="64" height="auto" alt="Logo de {{ game.name }}"></td>
                {% else %}
                    <td>Pas de logo</td>
                {% endif %}
                <td>{{ game.name }}</td>
                <td>
                    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('game_show', {'slug': game.slug}) }}">Afficher</a>
                    <a class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('admin_game_edit', {'slug': game.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun jeux trouvés !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('game_new') }}">Créer un jeu</a>

{% endblock %}