{% extends 'baseTemplate/admin-base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1 class="text-5xl font-normal leading-normal mt-0 mb-2 text-indigo-500">{{ game.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Logo</th>
            <td><img src="{{ game.imageName }}" width="64" height="auto" alt="{{ game.imageName }}"></td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ game.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ game.description }}</td>
        </tr>
        </tbody>
    </table>

    <a class="text-indigo-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('game_index') }}">Retour</a>

    <a class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" href="{{ path('game_edit', {'slug': game.slug}) }}">Modifier</a>

    {{ include('admin/game/_delete_form.html.twig') }}
{% endblock %}